{% extends "base.html" %}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
    <div class="row">
         <div class='col-md-4'>
            <div  class="container tab-pane " id="bible"><br>
                <a class ="one" href="#">Bible</a>
                {{ macro.display(bible) }}
               
            </div>
         </div>
         <div class='col-md-4'>
            <div  class="container tab-pane " id="love"><br>
                <a class ="one" href="#">Love</a>
                {{ macro.display(love)}}
                
            </div>
         </div>
         <div class='col-md-4'>
            <div  class="container tab-pane " id="motivation"><br>
                <a class ="one" href="#">motivation</a>
                {{ macro.display(motivation) }}
               
            </div>
         </div>
            
    </div>
    
</div>
{% endblock%}